.blue-snackbar {
  background-color: #00FF00;
}

cdk-visually-hidden{
  display: none;
  visibility: hidden;
}

.show{
  display: block;
  visibility: visible;
}

.hide{
  display: none;
  visibility: hidden;
}
